body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Arial;
  position: relative;
  padding-bottom: 200px;
}

.bg_class{
    position: relative;
    display: flex;
    flex-direction: column;
}

.upimage{
    flex: 1;
  /* border-width: 1px; */
  /* border-style: solid; */
  border-color: rgb(192,192, 192);
  position: relative;
}

.noresultimg{
  margin-top: -180px;
  width: 460px;
  height: 100%;
  margin-left: 1180px;
}

.noshopdata{
  width: 500px;
  Height : 299px;
  margin-top: 40px;
  font-family: "Nunito";
  font-weight: 700;
  font-style: bold;
  text-align: center;
  font-size: 30px;
  margin-left: 490px;
  position: absolute;
  /* border: 1px solid blue; */
}

.writeus_btn{
  width: 114px;
  height: 48px;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  background-color: #154617;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  color: #B0EB70;
}

.noshopdata h2, .noshopdata p{
  margin: 0;
}

.shoplist{
  flex: 1;
      /* background-color: brown; */
  /* border-style: solid;
  border-color: red;
  border-width: 4px; */
  position: relative;
  margin-top: -4px;
}

.upimg{
  Width : 1520px;
  Height : 399px;
  object-fit:cover;
 }

 .headtitle, .btntitle, .mainsenten, .srcarea, .srcarea1{
   font-family: "Nunito";
   position: absolute;
  }

  .srcarea, .srcarea1{
    width: 200px;
    height: 48px;
    top: 236px;
    left: 450px;
    border-radius: 10px;
    border: 1px;
    background-color: #F5F5F5;
    border-color: #D2D2D2;
    padding: 10px 16px 10px 16px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  .srcarea1{
    width: 344px;
    height: 48px;
    top: 236px;
    left: 717px;
  }

  .srcarea i, .srcarea1 i{
    color: #777;
    font-size: 20px;
  }

  .srcarea input{
    border: none;
    outline: none;
    margin-left: 10px;
    height: 25px;
    width: 178px;
    background-color: #F5F5F5;
    font-size: 16px;
  }

  .srcarea1 input{
    border: none;
    outline: none;
    margin-left: 10px;
    height: 25px;
    width: 500px;
    background-color: #F5F5F5;
    font-size: 16px;
  }

  .srcarea1 ::placeholder, .srcarea1 i, .srcarea i, .srcarea input{
    opacity: 0.60;
  }

  .mainsenten{
    width: 692px;
    height: 79px;
    top: 80px;
    left: 445px;
    color: black;
    font-family: "Nunito";
    font-weight: 700;
    font-style: bold;
    font-size: 25px;
  }

 .headtitle{
  color: white;
   top: 19px;
   left: 34px;
   width: 86px;
   height: 40px;
   font-size: 30px;
   font-weight: 700;
 }

 .btntitle{
   width: 86px;
   height: 48px;
   top: 20px;
   left: 1370px;
   border-radius: 10px;
   border: none;
   padding: 10px;
   gap: 10px;
   background-color: #154617;
   color: #B0EB70;
   font-size: 16px;
   font-weight: 600;
 }

 .listval{
    font-family: "Nunito";
    font-weight: 900;
    font-style: bold;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
 }

 .shop_grid{
  display: grid;
  grid-template-columns: repeat(5 ,1fr);
 }

 @media(max-width : 750px) {
       .shop_grid{
           display: grid;
           grid-template-columns: repeat(3 ,1fr);
           row-gap: 30px;
      }
 }

 .shop_container{
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  /* border-color: red;
  border-width: 3px;
  border-style: solid; */
 }

 .shop_img_container{
  margin-left: 20px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 228px;
 }

 .shop_imge{
  /* max-width: 100%; */
  width: 100%;
  height: 100%;
  /* max-height: 100%; */
  /* margin-left: 40px; */
  border-radius: 39px;
 }

 .shop_name,.shop_update, .is_close{
  font-family: "Nunito";
  font-weight: 900;
  font-style: bold;
  font-size: 16px;
  /* margin-left: 40px;  */
  justify-content: center;
  text-align: center;
}

 .shop_update
{
  color:#B0EB70;
}

.is_close{
 color: red;
}


.textcontainer{
  position: absolute;
  top: 488px;
  left: 720px;
  color: black;
  font-size: 50px;
  display: flex;
  font-family: "Nunito";
  font-style: bold;
  font-weight: 700;
}

.maintitle{
  position: relative;
  margin-top: 144px;
  text-align: center;
  margin-left: -200px;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 14px;
}

.text1{
  /* margin: 0; */
  line-height: 0.8;
  margin-top: 35px;
}


.text2{
  margin-left: -20px;
  margin-top: 23px;
  color: #B0EB70;
}

.contatus{
  width: 234px;
  height: 50px;
  margin-top: 390px;
  margin-left: 645px;
  border-radius: 30px;
  padding: 5px 26px 5px 26px;
  gap: 10px;
  background-color: #154617;
  color: white;
  font-family: "Nunito";
  font-style:bold;
  font-size: 24px;
}

.socialmedailink{
  /* border-color: red; */
  /* border-style: solid; */
  border-width: 1px;
  margin-top: 40px;
 margin-left: 664px;
  width: 220px;
  height: 50px;
  align-content: center;
  flex-direction: row;
}

.socialmedailink i{
  font-size: 28px;
  color: #111;
  background-color: white;
  width: 41px;
  height: 35px;
  padding-top: 8px;
  border-radius: 30px;
  text-align: center;
  margin-left: 18px;
  font-weight: normal;
  box-shadow: 0px 8px 11px -8px black;
}
