
.left_circle{
   position: absolute;
    width: 672px; 
    height: 577px;
    left: -29px;
    top: -209px;
    background: #B0EB70;
    border-radius: 50%;
}

.right_circle{
    position: absolute;
    width: 166px; 
    height: 166px;
    top: 620px;
    left: 1424px;
    background: #B0EB70;
    border-radius: 50%;
}

body {
  overflow: hidden;
  font-family: Arial;
  position: relative;
}

.bg_class{
    position: relative;
    display: flex;
}

.sideimage{
  /* border-width: 1px; */
  flex: 1;
  /* border-style: solid; */
  /* border-color: rgb(192,192, 192); */
  position: relative;
}

.sideimgs{
  width: 569px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 43px;
}

.logininfo{
      flex: 1;
      flex-direction: column;
      /* background-color: brown; */
}

@media(max-width : 750px) {
    
       body{
        overflow: auto;
        /* height: auto; */
      }

  .bg_class{
       flex-direction: column;
       height: auto;
    };
}

.textcontainer{
  position: absolute;
  top: 450px;
  left: 241px;
  color: white;
  font-size: 50px;
  display: flex;
  font-family: "Nunito";
  font-style: bold;
  font-weight: 700;
}

.text1{
  /* margin: 0; */
  line-height: 0.8;
  margin-top: 35px;
}


.text2{
  margin-left: -20px;
  margin-top: 23px;
  color: #B0EB70;
}

.text3{
  margin-top: 170px;
  margin-left: -220px;
  font-size: 25px;
  gap: 2px;
  font-weight: bold;
  font-weight: 700;
}

.logindetailcontaier{
  /* border-color: white;
  border-style: solid;
  border-width: 1px; */
  width: 348px;
  height: 305px;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-left: 226px;
  font-family: "Nunito";
  color: white;
}

.login_title{
  margin-left: 310px;
  font-size: 36px;
  font-family: "Nunito";
  font-style: bold;
  font-weight: 800;
  margin-top: 140px;
  color: black;
}

.username, .password, .cnt_google{
   width: 343px;
   height: 48px; 
   padding-left: 10px;
   font-size: 16px;
   border-width: 1px;
   border-style: solid;
   border-color: #D2D2D2;
   border-radius: 10px;
   color: black;
   box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
   margin-bottom: 20px;
   gap: 10px;
}

.login_btn{
   width: 357px;
   height: 48px;
   border-width: 1px;
   border-style: solid;
   font-size: 16px;
   border-color: #D2D2D2;
   border-radius: 10px;
  background-color: #154617;
  color: #B0EB70;
  border: none;
  margin-bottom: 22px;
}

.google_icon{
   width: 20px;
   height: 20px;
  display: inline-flex;
  margin-left: 50px;
}

.cnt_google{
  display: inline-flex;
  color: black;
  font-style: bold; 
  font-weight: 600;
  font-size: 16px;
  align-items: center;
}

.username::placeholder, .password::placeholder{
    font-size: 16px;
    padding-left: 20px;
}

.or_info{
   flex: 1;
   font-family: "Nunito";
   align-items: center;
   align-content: center;
   font-size: 16px;
   color: black;
   margin-top: -5px;
   text-align: center;
   margin-bottom: 20px;
}

.sigup_div{
  margin-top: 350px;
  margin-left: 302px;
  flex-direction: column;
  font-family: 'Nunito';
  font-weight: 600;
  font-style: bold;
  font-size: 14px;
}

.signup{
  color: #F99DAB;
}

.span_example,.signup{
  text-decoration: underline solid;
  cursor: pointer;
}
